<div class="toolbar" role="banner">
  <span class="title">Welcome</span>
</div>

<div class="content" role="main">

  <div *ngIf=dataIsLoaded>
    <span>Item Count: {{items.length}}</span>
    <br>
    <br>
    <div class="items">
      <div *ngFor="let item of items">
        <div class="item">
          <span>Post: {{item.post}}</span><br>
          <span>Album: {{item.album}}</span> <br>
          <span>User name: {{item.userName}}</span><br>
        </div> 
        <br>
      </div>
    </div>
  </div>
</div>